<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itschool.musicplayer"
    android:versionCode="15"
    android:versionName="2.13">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
    <!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />-->
    <!--  <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>-->
    <!--  <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>-->

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Music Player"
        android:resizeableActivity="true"
        android:restoreAnyVersion="true"
        android:theme="@style/app_theme"
        android:usesCleartextTraffic="true">

        <receiver
            android:name="com.itschool.musicplayer.HWListener"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.itschool.musicplayer.Service"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <activity
            android:name="com.itschool.musicplayer.Launcher"
            android:exported="true"
            android:theme="@style/app_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>
</manifest>